/* Styles for the main page */
.main_page_body {
    background-color: #ffffff; 
    font-family: 'Chivo';
    margin: 10px 20px; 
    max-width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    color: black;
}

.header {
    color: #071B80;
}

.div hr {
    margin: auto; 
    max-width: 100%;
}

.footer {
    background-color: #000b0c; 
    margin: auto;
    max-width: 100%; 
    padding-top: 20px; 
    padding-bottom: 20px;
    text-align: center; 
    color: azure;
}

/* Styles for the Frog Drum page */
.frogdrum_page_body {
    background-color: #FFC425; 
    font-family: 'Chivo'; 
    min-width: 250px; 
    max-width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    color: #221a04;
}

.header-frogdrum { 
    color: #221a04;
}


/* Styles for the Half-Risen Sun page */
.half_risen_sun_page_body {
    background-color: #6D3157; 
    font-family: 'Chivo';
    margin: 10px 20px; 
    min-width: 250px; 
    max-width: 100%; 
    margin-left: auto; 
    margin-right: auto; 
    color: #ffffff;
}


/* Styles for the Red Color page */
.red_page_body {
    background-color: #DA251D; 
    font-family: 'Chivo';
    margin: 10px 20px; 
    max-width: 100%; 
    margin-left: auto; 
    margin-right: auto; 
    color: #ffffff;
}

/* Styles for the White Color page */
.white_page_body {
    background-color: #ffffff; 
    font-family: 'Chivo';
    margin: 10px 20px; 
    max-width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    color: black;
}

/* Styles for the Blue Color page */
.blue_page_body {
    background-color: #1A3B85; 
    font-family: 'Chivo';
    margin: 10px 20px; 
    max-width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    color: #ffffff;
}

/* Styles for the navigation icons */
.nav_div {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.nav-icon {
    margin: 20px auto;
}

.nav-icon img {
    width: 15px;
}

/* Styles for the navigation instruction div */
.nav-instruction {
    background-color: #7fedfc;
    color: #000b0c; 
    padding: 10px 15px; 
    margin: 20px 0px;
    text-align: center; 
}

/* Styles for the headers */
.header-text-white {
    color: #ffffff;
}

.header-text-black {
    color: #000000;
}

.header, .header-frogdrum, .header-text-white, .header-text-black {
    padding: 0px 15px; 
    margin: 0px;
    text-transform: uppercase;
    font-size: 24px; 
}

/* Styles for the info section */
.info {
    padding: 0px 15px; 
    margin-bottom: 20px;
}

.info ul {
    margin: 0px; 
    padding-left: 20px;
    line-height: 1.5;
}